name: CI

on: [push]

jobs:
  Make paper:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2
      
      - name: Get llncs
        run: |
          wget ftp://ftp.springernature.com/cs-proceeding/llncs/llncs2e.zip
          unzip -o llncs2e.zip

      - name: Generate PDF document
        uses: hspaans/latexmk-action@v1.0.8
        with:
          format: pdf
          filename: paper.tex
          
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.1
        with:
          # Artifact name
          name: Paper
          # A file, directory or wildcard pattern that describes what to upload
          path: paper.pdf
      
